@model ProductVM
<form asp-action="Create" asp-controller="Product"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-success="OnSuccess">
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="Description" placeholder="Enter Description">
    </div>
    <input hidden name="OldPrice" value="0" />
    <div class="form-group">
        <label >Price</label>
        <input type="number" class="form-control" name="Price" placeholder="Enter Price">
    </div>
    <label>Category</label>
    <select class="form-select"  name="CategoryId">

        @if (Model.CategoryDtos != null)
        {
            foreach (var item in Model.CategoryDtos)
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
    <button type="submit" class="btn btn-primary my-3">Save</button>
</form>
<script>
    function OnSuccess() {
        alert("Transaction Successful");
        LoadPage();
    }
</script>